@import "mixins";
@import "variables";
@import "Main page/main_page";
@import "excel/excel";

@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #b3b1b1;
}

.main {
  &-wrapper {
    margin: 15px;
  }

  &-container {
    width: 1200px;
    margin: 0 auto;
  }

}