.toolbar {
  display: flex;
  margin: 25px 0;

  &__item {
    margin: 0 15px;
    cursor: pointer;
    transition: .2s;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      height: 25px;
      width: 25px;
    }

    &:nth-child(1){
      margin: 0 15px 0 0;
    }
    &:hover {
      background-color: #000;
      border-radius: 25px;
      span {
        color: #fff;
      }
    }
  }
}